@model mvc.Models.EventModel

<h1>A new event</h1>

<form asp-action="Create" asp-controller="Event" method="post" class="w-75goi">
  <div class='row mb-2'>
    <div class='col-md-6'>
      <div class="w-100">
        <input class="w-100" id="Title" type="string" name="Title" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger d-block"></span>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="w-100">
        <input class="w-100" id="EventDate" type="datetime-local" name="EventDate">
        <span asp-validation-for="EventDate" class="text-danger d-block"></span>
      </div>
    </div>
  </div>
  <div class='row mb-2'>
    <div class="col-md-6">
      <div class="w-100">
        <input class="w-100" id="MaxParticipants" type="number" min="10" max="200" name="MaxParticipants" placeholder="MaxParticipants">
        <span asp-validation-for="MaxParticipants" class="text-danger d-block"></span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="w-100">
        <input class="w-100" id="Location" type="string" name="Location" placeholder="Location">
        <span asp-validation-for="Location" class="text-danger d-block"></span>
      </div>
    </div>
  </div>
  <div class="w-100 mb-2">
      <textarea class="w-100" id="Description" rows="10" name="Description" placeholder="Description"></textarea>
      <span asp-validation-for="Description" class="text-danger d-block"></span>
  </div>

  <input type="submit" value="Create" class="btn btn-primary">
</form>
